.container-register {
    width: 5OOpx;
    height: 670px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px rgb(0 0 0 /10%), 0 8px 16px rgb(0 0 0 /33%);
    border-radius: 5px;
    display: none;
    background-color: white;
    z-index: 2;
}
.container-register .close {
    position: absolute;
    right: 5px;
    font-size: 1.5rem;
    color: #ccc;
    cursor: pointer;
}
.container-register .close:hover {
    cursor: pointer;
    color: black;
    transform: scale(1.1);
}
.container-register .register-title{
    padding-left: 20px;
}
.container-register .divider {
    border: 0.1px solid #ccc;
}

.container-register .register-title h2 {
    font-size: 2.3rem;
    margin-bottom: 0;
}
.container-register .register-title p {
color: gray;
}
/***********************REGISTER FORM *******************/
.container-register .register-form {
    padding: 10px;
}
.container-register .register-form input {
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}
.container-register .register-form .form-group-input {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.container-register .register-form .form-group-input input {
    flex: 1;
    
    padding-left: 10px;
  
}
.container-register .register-form .form-inline-input {
    display: flex;
    margin-bottom: 5px;
}
.container-register .register-form .form-inline-input input {
    flex: 1;
   
    padding-left: 10px;
}
.container-register .register-form .form-inline-date p {
    color: gray;
    font-size: 0.8em;
}
.container-register .form-select-date  {
    display: flex;
    gap: 10px;
}
.container-register .form-select-date select {
    flex: 1;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    
}

.container-register .form-inline-genre {
    color:gray;
    font-size: 0.8em;
}
 .container-register .form-radio-items {
    text-align: center;
    display: flex;
    gap: 5px;
    margin: 5px 0;
    background-color: white;
    color: black;
}
.container-register .form-radio-items .form-radio-item {
    border: 1px solid #ccc;
    height: 40px;
    flex: 1;
    border-radius: 5px;
}
.container-register .form-radio-items .form-radio-item label {
    position: relative;
    bottom: 15px;
}
.container-register .form-register-infos {
    font-size: 0.9rem;
    text-align: justify;
    color: gray;
    margin-bottom: 5px;

}
.container-register .form-register-button {
    text-align: center;
}
.container-register .form-register-button .bt-register-submit {

    border: 1px solid black;
    background-color: #00a400;
    width: 200px;
    height: 36px;
    line-height: 5px;
    color: white;
    margin-top: 5px;
}
.overlay {
background-color: rgba(255, 255, 255, .8);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
display: none;
}

@media screen and (max-width:600px) {
    .container-register{
        width: 360px;
    }
    .container-register .form-radio-items .form-radio-item label{
        font-size: 0.8em;
    }
}